.hero {
    // height: 300vh;
    &__wrapper {
        &::before {
            background: url("../../img/projects/projects-img-bg.jpg") no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__card {
        margin-left: 0;
    }
}


@media (max-width: 768px) {
    .hero {
        filter: none;
        &__wrapper {
            &::before {
                clip-path: none;
            }
        }
    }
}