@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Unbounded:wght@700&display=swap");
html {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Raleway", sans-serif;
  background: #191919;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
}

section {
  padding: 0 30px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.wrapper_width {
  max-width: calc(1440/1920 * 100%);
}

.btn-txt {
  font-weight: 900;
}
@media (max-width: 768px) {
  .btn-txt {
    font-size: calc(16px + 18.7 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 768px) {
  .btn-txt {
    font-size: calc(16px + 11 * (100vw / 1920));
  }
}

.scale {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.scale:hover {
  transform: scale(1.5);
}

@media (max-width: 1200px) {
  .wrapper_width {
    max-width: 1440px;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    max-width: 940px;
  }
  .body_menu {
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 580px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.acent-txt {
  font-weight: 900;
  color: #FF8126;
}
@media (max-width: 768px) {
  .acent-txt {
    font-size: calc(20px + 13.6 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 768px) {
  .acent-txt {
    font-size: calc(20px + 8 * (100vw / 1920));
  }
}
.acent-txt_theme_main {
  color: #A7C986;
}

@media (max-width: 768px) {
  .text {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 768px) {
  .text {
    font-size: calc(14px + 6 * (100vw / 1920));
  }
}
@media (max-width: 768px) {
  .text_size_s {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 768px) {
  .text_size_s {
    font-size: calc(12px + 4 * (100vw / 1920));
  }
}
@media (max-width: 768px) {
  .text_size_m {
    font-size: calc(20px + 11.9 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 768px) {
  .text_size_m {
    font-size: calc(20px + 7 * (100vw / 1920));
  }
}
.text_weight_bold {
  font-weight: 900;
}
.text_upper {
  text-transform: uppercase;
}

.title {
  font-family: "Unbounded", cursive;
  line-height: 125%;
  letter-spacing: 0.045em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title {
    font-size: calc(32px + 78.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 768px) {
  .title {
    font-size: calc(32px + 46 * (100vw / 1920));
  }
}

.subtitle {
  font-family: "Unbounded", cursive;
  line-height: 120%;
  letter-spacing: 0.045em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: calc(20px + 23.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 768px) {
  .subtitle {
    font-size: calc(20px + 14 * (100vw / 1920));
  }
}
@media (max-width: 768px) {
  .subtitle_size_s {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 768px) {
  .subtitle_size_s {
    font-size: calc(16px + 4 * (100vw / 1920));
  }
}

.btn {
  display: block;
  background: transparent;
  position: relative;
  border: 0;
  width: -moz-max-content;
  width: max-content;
  color: #ffffff;
  padding: 0 70px;
  line-height: 75px;
  cursor: pointer;
  transition: background 0.2s;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 65%, 93% 100%, 7% 100%, 0 65%);
          clip-path: polygon(0px 0px, 100% 0px, 100% 65%, 93% 100%, 7% 100%, 0 65%);
  z-index: -1;
}
.btn::after {
  background: #FF8126;
}
.btn__glitch {
  position: absolute;
  text-align: center;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: #A7C986;
  text-shadow: 2px 2px #A7C986, -2px -2px #ffffff;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 65%, 93% 100%, 7% 100%, 0 65%);
          clip-path: polygon(0px 0px, 100% 0px, 100% 65%, 93% 100%, 7% 100%, 0 65%);
  display: none;
}
.btn:hover .btn__glitch {
  display: block;
  animation: glitch 2s infinite;
}
.btn__glitch::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 65%, 93% 100%, 7% 100%, 0 65%);
          clip-path: polygon(0px 0px, 100% 0px, 100% 65%, 93% 100%, 7% 100%, 0 65%);
  background: #FF8126;
  z-index: -1;
}

@keyframes glitch {
  0% {
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
            clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  }
  2%, 8% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
            clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    transform: translate(-5%, 0);
  }
  6% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
            clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    transform: translate(5%, 0);
  }
  9% {
    -webkit-clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
            clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    transform: translate(0, 0);
  }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
            clip-path: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    transform: translate(5%, 0);
  }
  13% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
            clip-path: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    transform: translate(0, 0);
  }
  14%, 21% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    transform: translate(5%, 0);
  }
  25% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    transform: translate(5%, 0);
  }
  30% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    transform: translate(-5%, 0);
  }
  35%, 45% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
            clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    transform: translate(-5%);
  }
  40% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
            clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    transform: translate(5%);
  }
  50% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
            clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    transform: translate(0, 0);
  }
  55% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
            clip-path: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    transform: translate(5%, 0);
  }
  60% {
    -webkit-clip-path: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
            clip-path: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    transform: translate(0, 0);
  }
  31%, 61%, 100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  }
}
@media (max-width: 1024px) {
  .btn {
    line-height: 65px;
  }
}
.main-title {
  max-width: 30%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  filter: url(#round);
}
.main-title__wrapper {
  padding: 40px 20px 40px 50px;
}
.main-title::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  background: #ffffff;
  -webkit-clip-path: polygon(86.72% 0px, 99.45% 29.85%, 99.25% 98.77%, 0px 100%, 0px 0px);
          clip-path: polygon(86.72% 0px, 99.45% 29.85%, 99.25% 98.77%, 0px 100%, 0px 0px);
}
@media (max-width: 1200px) {
  .main-title {
    max-width: 35%;
  }
}
@media (max-width: 1024px) {
  .main-title {
    max-width: 45%;
  }
}
@media (max-width: 768px) {
  .main-title {
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .main-title {
    max-width: 70%;
  }
}
@media (max-width: 420px) {
  .main-title {
    max-width: 85%;
  }
}
.card-info {
  position: relative;
  filter: url(#round);
}
.card-info::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  background: #A7C986;
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
          clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
}
.card-info_theme_ligth {
  color: #000000;
}
.card-info_theme_ligth::before {
  background: #ffffff;
}

.top-figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  width: calc(160/1920 * 100%);
  height: 150px;
  background: url("../../img/svg/header-figure.svg") no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(25, 25, 25, 0.8);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
  color: #ffffff;
}
.nav__wrapper {
  width: calc(1630/1920 * 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  cursor: pointer;
}
.nav__right {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
@media (max-width: 768px) {
  .nav__item {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 768px) {
  .nav__item {
    font-size: calc(16px + 4 * (100vw / 1920));
  }
}
.nav__btn {
  color: #ffffff;
  background: #FF8126;
  border: none;
  border-radius: 0 0 0 20px;
  padding: 30px 15px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.nav__btn:hover {
  background: #A7C986;
}

.burger-icon {
  display: none;
}

@media (max-width: 1024px) {
  .top-figure {
    display: none;
  }
  .header {
    padding: 10px 0;
  }
  .burger-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
  }
  .burger-icon__line {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 10px;
    background: url("../../img/svg/menu-line.svg") no-repeat;
    transition: 0.5s all ease-in-out;
  }
  .burger-icon__line:nth-child(1) {
    top: 0;
  }
  .burger-icon__line:nth-child(2) {
    top: 30%;
  }
  .burger-icon__line:nth-child(3) {
    bottom: 0;
  }
  .burger-icon_active .burger-icon__line:nth-child(2) {
    opacity: 0;
  }
  .burger-icon_active .burger-icon__line:nth-child(1) {
    top: 10px;
    transform: rotate(90deg) scaleY(1.5);
  }
  .burger-icon_active .burger-icon__line:nth-child(3) {
    top: 6px;
    transform: scale(1, -1) rotate(90deg) scaleY(1.5);
  }
  .nav {
    position: relative;
    overflow: auto;
  }
  .nav__wrapper {
    padding: 0 15px;
  }
  .nav__right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 80px);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    background: url("../../img/bg-menu.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(100%, 80px);
    transition: 0.8s all ease-in-out;
  }
  .nav__right_active {
    opacity: 0.95;
    transform: translate(0, 80px);
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25%;
    overflow: auto;
    gap: 15px;
  }
  .nav__btn {
    position: relative;
    padding: 15px 10%;
    border-radius: 0;
    background: transparent;
    text-align: center;
  }
  .nav__btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    background: #FF8126;
    -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 65%, 93% 100%, 7% 100%, 0 65%);
            clip-path: polygon(0px 0px, 100% 0px, 100% 65%, 93% 100%, 7% 100%, 0 65%);
  }
}
@media (max-width: 768px) {
  .nav__wrapper {
    width: 100%;
  }
}
.hero {
  display: flex;
  justify-content: flex-end;
  height: 95vh;
  padding: 0;
  filter: url(#round);
}
.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 95%;
  height: auto;
}
.hero__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  background: url("../../img/main/hero-img.jpg") no-repeat;
  -webkit-clip-path: polygon(65px 0px, 100% 0px, 100% 100%, 0px 100%, 0px 80px);
          clip-path: polygon(65px 0px, 100% 0px, 100% 100%, 0px 100%, 0px 80px);
  background-size: cover;
}
.hero__card {
  margin: 0 0 80px 80px;
}

@media (max-width: 768px) {
  .hero {
    filter: none;
  }
  .hero__wrapper {
    width: 100%;
  }
  .hero__wrapper::before {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .hero__card {
    margin: 0 0 30px 30px;
  }
}
.line {
  position: absolute;
  top: calc(10vh + 80px);
  left: 15px;
  width: 100%;
  height: 112vh;
  min-height: 100vh;
  z-index: -1;
}
.line svg {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
}
.container .line {
  left: 35px;
  height: 92%;
}

@media (max-width: 1200px) {
  .line {
    display: none;
  }
}
.footer {
  color: #ffffff;
  background: #191919;
  padding: 30px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.footer__email {
  margin-bottom: 20px;
}
.footer__nav {
  display: flex;
}
.footer__nav-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 0;
}
.footer__nav-item {
  width: 30px;
  height: 30px;
}
.footer__network {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.footer__network-list {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin: 0;
}
.footer__copyrigth {
  text-align: right;
}

@media (max-width: 1200px) {
  .footer {
    border-top: 15px solid #ffffff;
  }
  .footer__nav {
    width: 45%;
    justify-content: center;
  }
  .footer__nav-list {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__contact {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .footer__email {
    text-align: center;
    margin-bottom: 0;
  }
  .footer__adress {
    text-align: center;
  }
  .footer__nav-list {
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
  }
  .footer__network {
    align-items: center;
    margin-top: 20px;
  }
}
.hero__wrapper {
  -webkit-clip-path: polygon(65px 0px, 100% 0px, 100% 100%, 0px 100%, 0px 80px);
          clip-path: polygon(65px 0px, 100% 0px, 100% 100%, 0px 100%, 0px 80px);
  justify-content: center;
}
.hero__wrapper::before {
  display: none;
}
.hero__card {
  margin: 0;
}

@media (max-width: 768px) {
  .hero {
    filter: none;
  }
  .hero__wrapper::before {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.left-figure {
  position: absolute;
  right: 0;
  top: 42%;
  width: 10%;
  height: 45vw;
  background: url(../../img/games/game-bg1.svg) no-repeat;
  background-size: cover;
  z-index: -1;
}

.game-desc {
  position: relative;
  padding-top: 10%;
}
.game-desc__title {
  color: #ffffff;
  margin-bottom: 7%;
}
.game-desc__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.game-desc__body_reverse {
  justify-content: flex-end;
}
.game-desc__img-wrapper {
  position: relative;
  width: 40%;
  margin-top: 5%;
  -webkit-clip-path: polygon(17% 0, 100% 0, 100% 100%, 0px 100%, 0 17%);
          clip-path: polygon(17% 0, 100% 0, 100% 100%, 0px 100%, 0 17%);
  filter: url(#round);
}
.game-desc__info {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  background: #ffffff;
  padding: 5%;
  -webkit-clip-path: polygon(0% 0, 100% 0px, 100% 80%, 88% 100%, 0 100%);
          clip-path: polygon(0% 0, 100% 0px, 100% 80%, 88% 100%, 0 100%);
  border-radius: 10px;
}
.game-desc__info_path {
  left: 0;
  -webkit-clip-path: polygon(0% 0, 100% 0px, 100% 100%, 12% 100%, 0 80%);
          clip-path: polygon(0% 0, 100% 0px, 100% 100%, 12% 100%, 0 80%);
}
.game-desc__text {
  margin-bottom: 3%;
}

.game-char {
  width: 45%;
  filter: none;
  -webkit-clip-path: none;
          clip-path: none;
}

.decoration {
  position: relative;
  width: 100%;
}
.decoration__triangle {
  position: absolute;
  width: 13%;
  height: 100%;
  background: url(../../img/games/game-bg2.svg) no-repeat;
  background-size: cover;
  background-position: top right;
  bottom: 100%;
  left: 0;
  z-index: -1;
}
.decoration__figure {
  position: relative;
  width: 100%;
  height: 10vw;
  background: #ffffff;
  -webkit-clip-path: polygon(35% 0px, 40% 30%, 100% 30%, 100% 100%, 0px 100%, 0px 0px);
          clip-path: polygon(35% 0px, 40% 30%, 100% 30%, 100% 100%, 0px 100%, 0px 0px);
  margin-top: 10%;
}

.game-link {
  text-align: center;
  color: #ffffff;
  padding: 5% 30px;
  -webkit-clip-path: polygon(7% 0, 100% 0px, 100% 100%, 12% 100%, 7% 75%);
          clip-path: polygon(7% 0, 100% 0px, 100% 100%, 12% 100%, 7% 75%);
}
.game-link__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-link__title {
  margin-bottom: 5%;
}
.game-link__btn {
  z-index: 1;
}

.container_pad {
  padding-bottom: 7%;
}
.container .line {
  left: -5%;
  height: 97%;
}
.container .line_another {
  right: 0;
  left: auto;
  top: 10%;
  width: 95%;
  height: 100%;
}
.container .line_static {
  left: 15px;
  top: -10px;
  width: 100%;
  height: 100%;
  min-height: 0;
}

@media (max-width: 1200px) {
  .left-figure {
    top: 53%;
    width: 40%;
    height: 10vw;
    background: url(../../img/games/game-bg1-1200.svg) no-repeat;
    background-size: 100% 100%;
    background-position: bottom left;
  }
}
@media (max-width: 1024px) {
  .game-desc__body {
    align-items: center;
  }
  .game-desc__img-wrapper {
    margin: 0;
  }
  .game-desc__info {
    position: static;
    width: 55%;
    color: #ffffff;
    background: transparent;
    -webkit-clip-path: none;
            clip-path: none;
    padding: 0;
  }
  .game-link {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
@media (max-width: 768px) {
  .left-figure {
    display: none;
  }
  .game-desc__body {
    flex-direction: column;
  }
  .game-desc__body_reverse {
    flex-direction: column-reverse;
  }
  .game-desc__img-wrapper {
    width: 70%;
    margin-bottom: 10%;
    -webkit-clip-path: none;
            clip-path: none;
    filter: none;
  }
  .game-desc__img-wrapper::before {
    position: absolute;
    content: "";
    top: 30%;
    left: -50vw;
    width: 150vw;
    height: 50%;
    background: #FF8126;
    z-index: -1;
  }
  .game-desc__info {
    width: 100%;
  }
  .game-char {
    position: relative;
  }
  .game-char::before {
    background: transparent;
    border: 3px solid #A7C986;
  }
  .game-link {
    -webkit-clip-path: none;
            clip-path: none;
  }
}/*# sourceMappingURL=style.css.map */